# Игнорировать временные файлы и папки
node_modules/
dist/
.cache/

# Игнорировать локальные конфигурационные файлы
.vscode/
.idea/

# Игнорировать логи и отладочные файлы
*.log
*.log.*
npm-debug.log*

# Игнорировать временные файлы
*.tmp

# Игнорировать файлы для локального окружения
.env.local
.env.development.local
.env.test.local
.env.production.local

# Игнорировать файлы для пакетного менеджера npm
package-lock.json

# Игнорировать файлы для пакетного менеджера yarn
yarn.lock

# Игнорировать файлы для разработки на React
/.pnp
.pnp.js

# Игнорировать файлы для .NET
bin/
obj/